
AnYiDoor/.idea/compiler.xml
AnYiDoor/.idea/compiler.xml
AnYiDoor/.idea/encodings.xml
AnYiDoor/.idea/gradle.xml
AnYiDoor/.idea/inspectionProfiles/profiles_settings.xml
AnYiDoor/.idea/inspectionProfiles/Project_Default.xml
AnYiDoor/.idea/misc.xml
AnYiDoor/.idea/modules.xml
AnYiDoor/.idea/runConfigurations.xml
AnYiDoor/.idea/misc.xml
AnYiDoor/.idea/misc.xml
AnYiDoor/.idea/misc.xml
*.zip
*.apk
