<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anyi.door"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--在sdcard中创建/删搜索除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 拍照的权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="cn.nj.www.my_module.main.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.qiangxi.checkupdatelibrary.service.DownloadService"
            android:screenOrientation="portrait"/>

        <activity
            android:name="cn.nj.www.my_module.view.imagepicker.PhotoPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.nj.www.my_module.view.imagepicker.PhotoSelectorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RegistSetPasswordActy"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmptyActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".TestListActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".video.base.TinyWindowPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--按home键之后退回到桌面，在次点击程序图标避免再次重新启动程序解决办法-->
        <activity
            android:name=".LoginActy"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.signature.HandWriteActivity"
            android:screenOrientation="landscape"

            />
        <activity
            android:name=".utils.signature.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".GiveCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged">

        </activity>
        <activity
            android:name=".FindPasswordCodeActy"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GiveBackCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SearchTrainListActy"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".OuterGetReasonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TrainListActy"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <!--发布时要用这个-->
        <activity android:name=".WelcomeAndJudgeActivity">

        </activity>
        <activity
            android:name=".TrainPicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TrainH5Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cn.nj.www.my_module.main.base.CommonWebViewActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.anyi.door"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/checkupdatelibrary_uri_grant"/>
        </provider>
    </application>

</manifest>
