<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anyi.door"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 调用相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="cn.nj.www.my_module.main.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.qiangxi.checkupdatelibrary.service.DownloadService"/>

        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity"/>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".RegistSetPasswordActy"
            android:launchMode="singleTask"/>
        <activity android:name=".EmptyActivity">

        </activity>
        <activity android:name=".TestListActivity">

        </activity>
        <activity
            android:name=".video.base.TinyWindowPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask">

        </activity>
        <!--按home键之后退回到桌面，在次点击程序图标避免再次重新启动程序解决办法-->
        <activity
            android:name=".LoginActy"
            >

        </activity>
        <activity
            android:name=".GiveCardActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
        <activity
            android:name=".FindPasswordCodeActy"
            android:launchMode="singleTask"/>
        <activity
            android:name=".GiveBackCardActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".SearchTrainListActy"/>
        <activity android:name=".OuterGetReasonActivity"/>
        <activity
            android:name=".TrainListActy"
            android:launchMode="singleTask">

        </activity>

        <!--发布时要用这个-->
        <activity android:name=".WelcomeAndJudgeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TrainPicActivity"/>
        <activity android:name="cn.nj.www.my_module.main.base.CommonWebViewActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.anyi.door"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/checkupdatelibrary_uri_grant"/>
        </provider>
    </application>

</manifest>
